---
import { Icon } from "astro-icon";

export interface Props {
  company: string;
  jobType: string;
  date: string;
  techstack?: string;
  responsibilities?: string;
  icon?: string;
}

const { company, jobType, date, techstack, responsibilities, icon } =
  Astro.props;
---

<div>
  <div class="flex items-center gap-2 py-2 border-b border-slate-700">
    <Icon name={!icon ? "mdi:web" : `${icon}`} />
    <span class="font-bold text-lg">{company}</span>
    <span>•</span>
    <span class="text-slate-400">{jobType}</span>
    <span>•</span>
    <span class="text-slate-400">{date}</span>
  </div>
  <p class="py-2">
    {
      techstack && (
        <code>
          <b>Technologies:</b> {techstack}
        </code>
      )
    }
    {
      responsibilities && (
        <code>
          <b>Responsibilties:</b> {responsibilities}
        </code>
      )
    }
  </p>
  <p class="pt-2">
    <slot />
  </p>
</div>

<style>
  [astro-icon] {
    width: 2rem;
    height: auto;
  }
</style>
