---
import { formatDate } from '@/lib/formatDate'

export interface Props {
  title: string
  pubDate: string
  category?: string
  image?: {
    url: string
    alt: string
  }
  tags?: string[]
  url: string
}

const { title, pubDate: date, image, category, tags, url } = Astro.props
---

<a href={url}>
  <div class='wrapper'>
    <div class='post-image'>
      <img src={image?.url} alt={image?.alt || title} />
    </div>
    <div class='post-title'>
      <h1>{title}</h1>
      <h2>
        {formatDate(date)}{category && ` - ${category}`}
        {tags && ` - ${tags.join(' ')}`}
      </h2>
    </div>
  </div>
</a>

<style>
  /* Wrapper style */
  .wrapper {
    @apply flex w-full flex-col justify-center;
  }

  /* Post border style */
  .wrapper {
    @apply overflow-hidden rounded-md border;
  }

  /* Post image style */
  .post-image,
  .post-image > img {
    @apply w-full;
  }

  /* Post title style */
  .post-title {
    @apply p-3;
  }

  .post-title > h1 {
    @apply truncate text-xl font-bold text-rose-500;
  }

  .post-title > h2 {
    @apply text-sm font-thin text-slate-500;
  }

  .post-title > h3 {
    @apply text-slate-400;
  }
</style>
