---
import { formatDate } from '@/lib/formatDate'
import PostTag from './PostTag.astro'

export interface Props {
  title: string
  pubDate: string
  category?: string
  image?: {
    url: string
    alt: string
  }
  tags?: string[]
  url: string
}

const { title, pubDate: date, image, category, tags, url } = Astro.props
---

<div class='wrapper'>
  <a href={url}>
    <div class='post-image'>
      <img src={image?.url} alt={image?.alt || title} />
    </div>
    <div class='post-title'>
      <h1>{title}</h1>
      <h2>
        {formatDate(date)}{category && ` - ${category}`}
        {tags && tags.map((tag) => <PostTag name={tag} />)}
      </h2>
    </div>
  </a>
</div>

<style>
  /* Wrapper style */
  .wrapper {
    @apply flex w-full flex-col justify-center;
  }

  /* Post border style */
  .wrapper {
    @apply overflow-hidden rounded-md border;
  }

  /* Post image style */
  .post-image,
  .post-image > img {
    @apply w-full;
  }

  /* Post title style */
  .post-title {
    @apply p-3;
  }

  .post-title > h1 {
    @apply truncate text-xl font-bold text-rose-500;
  }

  .post-title > h2 {
    @apply flex gap-2 text-sm font-thin text-slate-500;
  }

  .post-title > h3 {
    @apply text-slate-400;
  }
</style>
