---
import { formatDate } from '@/lib/formatDate'

import PageLayout from '@/layouts/PageLayout.astro'
import PostNav from '@/components/blog/PostNav.astro'

const { frontmatter } = Astro.props
---

<PageLayout title={frontmatter.title}>
  <div class='wrapper'>
    <PostNav tags={frontmatter.tags} />
    <div class='post-image'>
      <img
        src={frontmatter.image?.url}
        alt={frontmatter.image?.alt || frontmatter.title}
      />
    </div>
    <div class='post-title'>
      <h1>{frontmatter.title}</h1>
      <h2>
        {formatDate(frontmatter.pubDate)}
      </h2>
    </div>
    <div class='post-content'>
      <slot />
    </div>
  </div>
</PageLayout>

<style>
  /* Wrapper style */
  .wrapper {
    @apply mt-5 flex w-full flex-col justify-center;
  }

  /* Post image style */
  .post-image {
    @apply mb-5 w-full;
  }

  .post-image > img {
    @apply w-full rounded-md;
  }

  /* Post title style */
  .post-title,
  .post-content {
    @apply p-3;
  }

  .post-title > h1 {
    @apply text-4xl font-bold text-rose-600;
  }

  .post-title > h2 {
    @apply text-xl font-thin italic text-slate-400;
  }

  .post-content {
    @apply text-xl text-white;
  }
</style>

<style is:inline>
  .post-content {
    text-align: justify;
  }

  .post-content > h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    color: #f43f5e;
    line-height: 2rem;
    margin-bottom: 0.5rem;
  }

  .post-content > h1 {
    font-size: 1.875rem;
  }

  .post-content > h2 {
    font-size: 1.75rem;
  }

  .post-content > h3 {
    font-size: 1.5rem;
  }
</style>
