---
import { siteData } from '@/constants/site-data'

import '@fontsource/gabarito'
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='author' content={siteData.author} />
    <meta name='description' content={siteData.description} />
    <meta name='keywords' content={siteData.keywords.join(',')} />
    <meta name='og:title' content={siteData.title} />
    <meta name='og:description' content={siteData.description} />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{siteData.title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  /* Global document style */
  html,
  body {
    @apply m-0 h-full w-full;
  }

  /* Global body style */
  body {
    @apply flex min-h-full flex-col;
  }

  /* Global body background style */
  body {
    @apply bg-slate-950 text-slate-200;
  }

  body {
    font-family: 'Gabarito', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
</style>
